div(data-ui-css-component="floating-label")
	div
		label
			input(type="text" placeholder="Name")
			span(data-label="Full name")
	div
		label
			input(type="email" placeholder="Email address")
			span(data-label="Example: name@teste.com")