div(data-ui-css-component="tooltip")
	span(data-tooltip-title="Option 1", data-tooltip-position="top") top
	br
	span(data-tooltip-title="Option 2", data-tooltip-position="right") right
	br
	span(data-tooltip-title="Option 3", data-tooltip-position="bottom") bottom
	br
	span(data-tooltip-title="Option 4", data-tooltip-position="left") left