div(data-ui-css-component="radio")
	label
		input(type="radio", name="radio")
		span radio A
	label
		input(type="radio", name="radio")
		span radio B
	label
		input(type="radio", name="radio")
		span radio C