div(data-dui-css-component="treeview")
	ul
		li
			input(type="checkbox", id="item1")
			label(for="item1") Item 1
			ul
				li
					input(type="checkbox", id="item1.1")
					label(for="item1.1") Item 1.1
					ul
						li: span Item 1.1.1
						li: span Item 1.1.2
				li
					input(type="checkbox", id="item1.2")
					label(for="item1.2") Item 1.2
					ul
						li: span Item 1.2.1
						li: span Item 1.2.2
		li
			input(type="checkbox", id="item2")
			label(for="item2") Item 2
			ul
				li: span Item 2.1
				li: span Item 2.2
				li: span Item 2.3
				li: span Item 2.4