div(data-dui-css-component="treeview")
	ul
		li
			input(type="checkbox", id="lanches")
			label(for="lanches") Lanches
			ul
				li
					input(type="checkbox", id="hamburguer")
					label(for="hamburguer") Hamburguer
					ul
						li: span X-Salada
						li: span X-Egg
				li
					input(type="checkbox", id="natural")
					label(for="natural") Natural
					ul
						li: span Alface e cenoura
						li: span Beterraba e cenoura
		li
			input(type="checkbox", id="sucos")
			label(for="sucos") Sucos
			ul
				li: span Laranja
				li: span Maçã
				li: span Manga
				li: span Uva
		li
			input(type="checkbox", id="pizzas")
			label(for="pizzas") Pizzas
			ul
				li: span 4 queijos
				li: span Atum
				li: span Calabresa
				li: span Frango
				li: span Peito de peru
				li: span Peperoni