$color: #9C27B0;

[data-dui-css-component="treeview"]{
	margin: 20px;
	font-family: Verdana;
	font-size: 14px;
	color: $color;
	
	[type=checkbox]{
		display: none;
	}
	
	ul{
		padding: 0 0 0 40px;
		display: none;
		list-style: none;
		
		&:first-child{
			padding-left: 0;
		}
	}
	
	li{
		padding: 0;
		
		span{
			margin: 2px 0;
			display: list-item;
			list-style: square;
		}
	}
	
	label{
		display: inline-block;
		transition: 0.2s;
		padding-right: 10px;
		margin: 5px 0;
		height: 20px;
		line-height: 20px;
		cursor: pointer;

		&::before{
			display: inline-block;
			margin-right: 5px;
			width: 20px;
			height: 20px;
			text-align: center;
			background: $color;
			color: #FFF;
		}
	}
	
	ul:first-child, [type=checkbox]:checked ~ ul{
		display: block;
	}
	
	[type=checkbox]:checked ~ label::before{
		content: "-";
	}
	
	[type=checkbox]:not(:checked) ~ label::before{
		content: "+";
	}
}